//Colors
$white: #ffffff;
$gray-bg: #F0F4FA;
$gray-light: #efefef;
$gray: #848390;
$gray-bluish: #3B3A4E;
$blue-navy: #2c2b42;
$black: #000000;
$orange: #FF6D00;
$status-green-bg: #C8F7E4;
$status-green-txt: #50B21B;
$status-blue-bg: #C4D9FA;
$status-blue-txt: #3B3A4E;
$status-orange-bg: #FFE3CE;
$status-orange-txt: #EC6607;
$blue-media: #4E4D5D;

//Fonts
$font-RobotoRegular: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$font-RobotoBold: 'Roboto-Bold', Arial, Helvetica, sans-serif;
$font-RobotoBlack: 'Roboto-Black', Arial, Helvetica, sans-serif;
$font-MuliRegular: 'Muli-Regular', Arial, Helvetica, sans-serif;
$font-MuliExtraBold: 'Muli-ExtraBold', Arial, Helvetica, sans-serif;
$font-MuliBlack:'Muli-Black', Arial, Helvetica, sans-serif;

//Viewports
$media-xs: 425px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;
$media-xl: 1920px;